name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-apk:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codice
        uses: actions/checkout@v4

      - name: Installa Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Installa Flutter 3.22.3
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'
          channel: 'stable'

      - name: Flutter pub get
        run: flutter pub get

      - name: Build APK release
        run: flutter build apk --release --no-tree-shake-icons

      - name: Carica APK
        uses: actions/upload-artifact@v4
        with:
          name: stereo98-release
          path: build/app/outputs/flutter-apk/app-release.apk
          retention-days: 7
